## Task 1

Read Data using pandas

In [12]:
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier

# read both training and testing data
train_data = pd.read_csv('Data/adult_train.csv')
test_data = pd.read_csv('Data/adult_test.csv')
print(test_data)

       age     workclass     education  education-num      marital-status  \
0       25       Private          11th              7       Never-married
1       38       Private       HS-grad              9  Married-civ-spouse
2       28     Local-gov    Assoc-acdm             12  Married-civ-spouse
3       44       Private  Some-college             10  Married-civ-spouse
4       18             ?  Some-college             10       Never-married
...    ...           ...           ...            ...                 ...
16276   39       Private     Bachelors             13            Divorced
16277   64             ?       HS-grad              9             Widowed
16278   38       Private     Bachelors             13  Married-civ-spouse
16279   44       Private     Bachelors             13            Divorced
16280   35  Self-emp-inc     Bachelors             13  Married-civ-spouse

              occupation    relationship                race     sex  \
0      Machine-op-inspct       Own-child               Black    Male
1        Farming-fishing         Husband               White    Male
2        Protective-serv         Husband               White    Male
3      Machine-op-inspct         Husband               Black    Male
4                      ?       Own-child               White  Female
...                  ...             ...                 ...     ...
16276     Prof-specialty   Not-in-family               White  Female
16277                  ?  Other-relative               Black    Male
16278     Prof-specialty         Husband               White    Male
16279       Adm-clerical       Own-child  Asian-Pac-Islander    Male
16280    Exec-managerial         Husband               White    Male

       capital-gain  capital-loss  hours-per-week native-country target
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
16276             0             0              36  United-States  <=50K
16277             0             0              40  United-States  <=50K
16278             0             0              50  United-States  <=50K
16279          5455             0              40  United-States  <=50K
16280             0             0              60  United-States   >50K

[16281 rows x 14 columns]

In [25]:
train_data.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,27,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,44,United-States,<=50K
1,27,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,25,Private,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
3,46,Private,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,1902,40,United-States,<=50K
4,45,Private,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,>50K

Split a dataframe into features (X) and target (Y)

In [14]:
n_cols = len(train_data.columns)
Xtrain_dicts = train_data.iloc[:, :n_cols-1].to_dict('records')
Xtest_dicts = test_data.iloc[:, :n_cols-1].to_dict('records')
Ytrain = train_data.iloc[:, n_cols-1]
Ytest = test_data.iloc[:, n_cols-1]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,27,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,44,United-States,<=50K
1,27,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,25,Private,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
3,46,Private,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,1902,40,United-States,<=50K
4,45,Private,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,>50K

In [23]:
# have a look at the dict
Xtrain_dicts[0]

{'age': 27,
 'workclass': 'Private',
 'education': 'Some-college',
 'education-num': 10,
 'marital-status': 'Divorced',
 'occupation': 'Adm-clerical',
 'relationship': 'Unmarried',
 'race': 'White',
 'sex': 'Female',
 'capital-gain': 0,
 'capital-loss': 0,
 'hours-per-week': 44,
 'native-country': 'United-States'}

Combining the steps

In [38]:
dv = DictVectorizer()
X_train_encoded = dv.fit_transform(Xtrain_dicts)
X_test_encoded = dv.transform(Xtrain_dicts)
# transfrom to DataFrame to exhibit
X_train_df = pd.DataFrame(X_train_encoded.toarray(), columns=dv.get_feature_names_out())
print(X_train_df.head())
X_test_df = pd.DataFrame(X_test_encoded.toarray(), columns=dv.get_feature_names_out())
print(X_test_df.head())

    age  capital-gain  capital-loss  education-num  education=10th  \
0  27.0           0.0           0.0           10.0             0.0
1  27.0           0.0           0.0           13.0             0.0
2  25.0           0.0           0.0           12.0             0.0
3  46.0           0.0        1902.0            3.0             0.0
4  45.0           0.0        2824.0            7.0             0.0

   education=11th  education=12th  education=1st-4th  education=5th-6th  \
0             0.0             0.0                0.0                0.0
1             0.0             0.0                0.0                0.0
2             0.0             0.0                0.0                0.0
3             0.0             0.0                0.0                1.0
4             1.0             0.0                0.0                0.0

   education=7th-8th  ...  sex=Male  workclass=?  workclass=Federal-gov  \
0                0.0  ...       0.0          0.0                    0.0
1                0.0  ...       0.0          0.0                    0.0
2                0.0  ...       1.0          0.0                    0.0
3                0.0  ...       1.0          0.0                    0.0
4                0.0  ...       1.0          0.0                    0.0

   workclass=Local-gov  workclass=Never-worked  workclass=Private  \
0                  0.0                     0.0                1.0
1                  0.0                     0.0                1.0
2                  0.0                     0.0                1.0
3                  0.0                     0.0                1.0
4                  0.0                     0.0                1.0

   workclass=Self-emp-inc  workclass=Self-emp-not-inc  workclass=State-gov  \
0                     0.0                         0.0                  0.0
1                     0.0                         0.0                  0.0
2                     0.0                         0.0                  0.0
3                     0.0                         0.0                  0.0
4                     0.0                         0.0                  0.0

   workclass=Without-pay
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0

[5 rows x 107 columns]
    age  capital-gain  capital-loss  education-num  education=10th  \
0  27.0           0.0           0.0           10.0             0.0
1  27.0           0.0           0.0           13.0             0.0
2  25.0           0.0           0.0           12.0             0.0
3  46.0           0.0        1902.0            3.0             0.0
4  45.0           0.0        2824.0            7.0             0.0

   education=11th  education=12th  education=1st-4th  education=5th-6th  \
0             0.0             0.0                0.0                0.0
1             0.0             0.0                0.0                0.0
2             0.0             0.0                0.0                0.0
3             0.0             0.0                0.0                1.0
4             1.0             0.0                0.0                0.0

   education=7th-8th  ...  sex=Male  workclass=?  workclass=Federal-gov  \
0                0.0  ...       0.0          0.0                    0.0
1                0.0  ...       0.0          0.0                    0.0
2                0.0  ...       1.0          0.0                    0.0
3                0.0  ...       1.0          0.0                    0.0
4                0.0  ...       1.0          0.0                    0.0

   workclass=Local-gov  workclass=Never-worked  workclass=Private  \
0                  0.0                     0.0                1.0
1                  0.0                     0.0                1.0
2                  0.0                     0.0                1.0
3                  0.0                     0.0                1.0
4                  0.0                     0.0                1.0

   workclass=Self-emp-inc  workclass=Self-emp-not-inc  workclass=State-gov  \
0                     0.0                         0.0                  0.0
1                     0.0                         0.0                  0.0
2                     0.0                         0.0                  0.0
3                     0.0                         0.0                  0.0
4                     0.0                         0.0                  0.0

   workclass=Without-pay
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0

[5 rows x 107 columns]

# Task 2

In [2]:
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier


train_data = pd.read_csv('Data/adult_train.csv')
test_data = pd.read_csv('Data/adult_test.csv')

n_cols = len(train_data.columns)
Xtrain_dicts = train_data.iloc[:, :n_cols-1].to_dict('records')
Ytrain = train_data.iloc[:, n_cols-1]


Xtest_dicts = test_data.iloc[:, :n_cols-1].to_dict('records')
Ytest = test_data.iloc[:, n_cols-1]

dv = DictVectorizer()
X_train_encoded = dv.fit_transform(Xtrain_dicts)
X_test_encoded = dv.transform(Xtrain_dicts)
# transfrom to DataFrame to exhibit
X_train_df = pd.DataFrame(X_train_encoded.toarray(), columns=dv.get_feature_names_out())
print(X_train_df.head())
X_test_df = pd.DataFrame(X_test_encoded.toarray(), columns=dv.get_feature_names_out())
print(X_test_df.head())

NameError: name 'X_test_df' is not defined